:root {
  /* Brand Colors */
  --color-primary: #222;
  --color-secondary: #9CAF88;

  /* Background Colors */
  --color-bg: rgba(209, 251, 206, 0.878);
  --color-bg-secondary: rgba(184, 245, 180, 0.83);
  --color-bg-accent: rgba(174, 225, 181, 0.921);
  --color-bg-hover: #9aebb5cc;

  /* Text and Border Colors */
  --color-text: rgb(61, 61, 61);
  --color-text-alt: #fff;
  --color-text-gray: #616774;
  --color-border: rgb(0 0 0 / 6%);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
    'Helvetica Neue', arial, 'Noto Sans', sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
}